* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background:#7F0909;
}

.start_btn,
.info_box { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_btn button { 
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 15px 30px;
    outline: black;
    border: black;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}

.info_box {
    display: none;
    width: 600 px;
    background: #fff;
    border-radius: 5px;
}

.info_title {
    height: 60px;
    border-bottom: 10px solid #ffc500;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-weight: 650;
    font-size: 30px;

}
.info_box .info_list {
    padding: 20px 30px;
}

.info_box .info_list .info {
    margin: 5px 0;
    font-size: 20px; 
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 40px;
}

.info_box .buttons button {
    margin: 0 10px;
    height: 30px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

